html {
  font-family: "Noto Sans", sans-serif;
}

i {
    font-family: "Noto Sans Japanese", sans-serif;
}

.btn-ghost {
  color:#005e76;
  border-color: #8bc9d9;
  border-width: 2px;
}

.btn-ghost:hover {
  color: #005e76;
  background-color: #8bc9d9;
  border-color: #0084a;
  border-width: 2px;
}
